body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.sivupalkki {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
}


.sivupalkki a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sivupalkki a:hover {
  color: white;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    margin-left: 160px;
}

p {
    margin-left: 160px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-left: 160px;
}

header {

 background-color: #000000;
  color: gray;
    margin-left: 160px;
}

.row {
  display: flex;
  background-color: #FFFFFF;
  
}

.column {
  flex: 33.33%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li {
    display: inline;
    padding: 10px;
}

aside {
    width: 200px;
    padding: 20px;
    background-color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

article {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

a:hover {
    color: #000;
}
