body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

header {

 background-color: gray;
  color: white;
}

.row {
  display: flex;
  background-color:white;
}

.column {
  flex: 33.33%;
}
