body {
    font-family: 'georgia', serif;
    margin: 20px;
    padding: 20px;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
}

.sivupalkki {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #352d51;
    overflow-x: hidden;
    padding-top: 20px;
}

.varjo {
box-shadow: 10px 5px 5px grey;
    
}

.sivupalkki a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sivupalkki a:hover {
  color: black;
}

h1 {
    
    color: #333;
    text-align: center;
    font-size: 60px;
}

h2 {
    
    color: #333;
    text-align: left;
    font-size: 40px;
}

h3 {
    
    color: #333;
    text-align: left;
}

h4 {
    
    color: #333;
    text-align: left;
}

p {
    text-align: left;
}

main {
    display: flex;
    flex-wrap: wrap;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-left: 200px;
    margin-right: 40px;
    animation-name: animaatio;
    animation-duration: 4s;
}
@keyframes animaatio {
from {background-color: #333}
    to {background-color: yellow}
    
}


header {

    margin-left: 160px;
}

.row {
  display: flex;
  background-color: #FFFFFF;
  
}

.column {
  flex: 33.33%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li {
    display: inline;
    padding: 10px;
}

aside {
    width: 200px;
    padding: 20px;
    background-color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    flex: 1;
    padding: 20px;
    background-color: grey
    font-family: 'baskerville', serif;
    text-align: left;
}

article {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: 'baskerville', serif;
    text-align: left;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 200px;
}
a:hover {
    color: #000;
}
